<!-- src/app/components/task-form/task-form.component.html -->
<form (ngSubmit)="save()">
  <mat-form-field>
    <mat-label>Task</mat-label>
    <input matInput [(ngModel)]="task.description" name="description" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Developers</mat-label>
    <mat-select multiple [(ngModel)]="task.developers" name="developers">
      <mat-option *ngFor="let dev of ['Dev 1', 'Dev 2']" [value]="dev">{{dev}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="task.status" name="status">
      <mat-option *ngFor="let status of statuses" [value]="status">{{status}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Priority</mat-label>
    <mat-select [(ngModel)]="task.priority" name="priority">
      <mat-option *ngFor="let priority of priorities" [value]="priority">{{priority}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Type</mat-label>
    <mat-select [(ngModel)]="task.type" name="type">
      <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="task.date" name="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Estimated SP</mat-label>
    <input matInput type="number" [(ngModel)]="task.estimatedSP" name="estimatedSP">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Actual SP</mat-label>
    <input matInput type="number" [(ngModel)]="task.actualSP" name="actualSP">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Save</button>
</form>
