
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.mat-mdc-dialog-container {
  --mdc-dialog-container-color: var(--bg-panel);
  border-radius: 12px !important;
}

.mat-mdc-tab-group {
  --mat-tab-header-background-color: var(--bg-panel);
  --mdc-tab-indicator-active-indicator-color: var(--color-accent);
}

.mat-mdc-tab {
  --mdc-tab-text-label-text-color: var(--color-muted);
  --mdc-tab-text-label-text-color-active: var(--color-accent);
}


:root {
  --bg-main: #0f1419;
  --bg-panel: #1a1f2e;
  --bg-table-row: #1a1f2e;
  --bg-table-header: #151a26;
  --bg-input: #242937;
  --color-text: #ffffff;
  --color-muted: #8a94b9;
  --color-accent: #3a7afe;
  --border-color: #2e3856;
}

* {
  box-sizing: border-box;
}

html, body { 
  height: 100%; 
  margin: 0; 
  font-family: 'Inter', 'Roboto', "Helvetica Neue", sans-serif;
  background: var(--bg-main);
  color: var(--color-text);
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-input);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-muted);
  border-radius: 4px;
  
  &:hover {
    background: var(--color-text);
  }
}
